SUPABASE_URL="https://gclyoqjntdkeohbchiwj.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdjbHlvcWpudGRrZW9oYmNoaXdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMDY0ODUsImV4cCI6MjA4OTY4MjQ4NX0.rD8ysacR3VdbfdeX6N7dr-6kAMKSXnb5RXhLAwPtM_0"
